* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #ffffff;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(../imgaes/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #ffffff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: #ffffff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
}


.timetable {
    color: #ffffff;
    border-bottom: 2px solid #0079c7;
    text-shadow: 0 1px 0 #727272;
    padding: 6px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.timetable span {
    align-items: center;
}


#overall {
    display: flex;
    justify-content: center;
}

#overall section {
    flex: 2;
}

#overall aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #39aae1;
    margin-top: 10px;
}

.widget_body {
    display: flex;
    flex-wrap: wrap;
}

.widget_square0, .widget_square1, .widget_square2, .widget_square3, .widget_square4, .widget_square5, .widget_square6 {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #39aae1;
    display: flex;
    flex-direction: row;
}

.widget_body p {
    color: #727272;
    padding-bottom: 20px;
}

.widget_contact{
    width: 100%;
    border-top: 1px solid #555555;
    padding: 20px 0;
}

.widget_number, .widget_e-mail, .widget_doc {
    display: flex;
    align-items: center;
}

.widget_contact [name="call"], .widget_contact [name="mail"], .widget_contact [name="document"]  {
    margin-right: 10px;
    background-color: #DCDCDC;
    color: #ffffff;
    padding: 7px;
}


.widget_phone, .widget_contact_e-mail, .widget_file {
    font-size: 13px;
    color: #727272;
}
.widget_contact_e-mail [name="contact_mail"], .widget_file [name="file_doc"]{
    color: #2b4c99;
}

.widget_number_call, a {
    font-size: 13px;
    font-weight: bold;
    border: none;
    color: #000000;
    text-decoration: none;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article .news_date{
    display: flex;
}

article .news_posted_at{
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments{
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12;
    padding: 10px;
}

article .news_thumb{
    margin-top: 30px;
}
article .news_thumb img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}

article .news_resume{
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
}

article .news_resume:last-child{
    margin-bottom: 20px;
}


footer{
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
}

.footer_menu{
    display: flex;
}

.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0079c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.fm_1_link, .fm_2_link, .fm_3_link {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #ffffff;
}

.fm_1_link [name="arrow-forward"]{
    margin-left: 10px;
}
.fm_2_link [name="arrow-forward"]{
    margin-left: 10px;
}

.fm_3_link [name="arrow-forward"]{
    margin-left: 10px;
}

.footer_area{
    display: flex;
}

.footer_areaitem{
    flex: 1;
    color: #ffffff;
}
.flexColumn{
    flex-direction: column;
}

footer .widget_title_text{
    color: #ffffff;
}

.widget_footer_text{
    margin-bottom: 20px;
    font-size: 14px;
    color: #5c5c5c;
}

.widget_body_footer{
    padding:0 10px;
}

.widget_footer_info, .widget_footer_info_end, .widget-footer_contact{
    font-size: 14px;
    color: #5c5c5c;
}
.widget-footer_contact{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: end;
    justify-content: center;
}
.widget-footer_contact a{
    color: #ffffff;
}

.social_media{
    display: flex;
    align-items: center;
}

.social_media a{
    padding-left: 10px;
    margin-top: 20px;
}
.social_media input{
    width: 20px;
    height: 20px;
    
    background-color:#727272 ;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    padding: 7px;
}

.social_media [name="logo-facebook"], [name="logo-twitter"], [name="mail-unread"] {
    padding: 10px;
    background-color:#727272 ;
    color: #ffffff;
}

.widget_footer_post{
    font-size: 14px;
    margin: 20px 0;
}

.widget_footer_post a{
    color: #0079c7;
}

.widget_footer_post_latest{
    font-size: 14px;
    margin: 20px 0;
    color: #5c5c5c;
}

.widget_footer_post_latest [name="arrow-forward"]{
    color: #ffffff;
}

.widget_footer_post_latest .white_post {
    color: #ffffff;
}

.widget_footer_post_latest a{
    color: #0079c7;
}

.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.footer_copy .copy_text{
    color: #ffffff;
}
.footer_copy_svg img{
    height: 10px;
}

.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line{
    height: 3px;
    background-color: #39aae1;
}

/* responsive page  */

@media(max-width:768px){
    header{
        height: auto;
    }

    header .container{
        flex-direction: row;
    }

    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color:#ffffff;
    }

    .logo{
        padding-left: 20px;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: 0.3s;
    }

    .banner_headline h1{
        font-size: 60px;
        padding-left: 20px;
    }

    .banner_headline h2{
        font-size: 18px;
        padding-left: 20px;
    }

    #overall section, #overall aside{
        padding: 20px;
    }

    .footer_area{
        padding-left: 20px;
    }

    .footer_copy{
        padding-left: 20px;
    }
}

@media (max-width:600px) {
    
    header{
        height: auto;
    }

    header .container{
        flex-direction: row;
    }

    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color:#ffffff;
    }

    .logo{
        padding-left: 20px;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: 0.3s;
    }

    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1{
        font-size: 55px;
    }

    .banner_headline h2{
        font-size: 17px;
    }

    .banner_options{
        height: auto;
        flex-direction: column;
    }

    .container{
        flex-direction: column;
    }

    #overall section, #overall aside{
        padding: 20px;
    }

    .news{
        margin-top: 85px;
    }

    .footer_menu, .footer_area{
        flex-direction: column;
    }
    
    .footer_area{
        padding: 20px;
    }

    .footer_copy{
        padding-left: 20px;
    }
}